<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1634068560,
	"contentType":"story",
	"canonicalURL":"https:\/\/www.seattletimes.com\/?p=14298508",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2021-10-12 12:56:00",
	"modifieddate":"2021-10-12 12:54:58",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"education-lab",
	"section_tier2":"local",
	"sections_all":"education|education-lab|seattle-news",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
