<section class="thin-div">
  <div class="center">Don’t Miss</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/education-lab/how-highline-is-trying-to-avoid-learning-loss-by-boosting-students-ahead/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story1.jpg"
          alt="McMicken Heights Elementary School Principal Alexandria Haas stands in front of her SeaTac school Tuesday, Dec. 15, 2020. She has overseen the school’s experiment in acceleration, which seeks to combat learning loss before it happens by boosting students along and helping them fill in the gaps of what they missed. The Highline school district is trying to avoid learning loss by boosting students ahead. (Ellen M. Banner / The Seattle Times)">
        </a>
        <div class="small">Education Lab</div>
        <div>
          <a href="https://www.seattletimes.com/education-lab/how-highline-is-trying-to-avoid-learning-loss-by-boosting-students-ahead/" target="_blank" rel="noreferrer noopener nofollow">
            How a diverse school district is using a strategy usually reserved for ‘gifted’ students to boost everyone
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/education-lab/the-science-of-catching-up-in-school/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story2.jpg"
          alt="With many students losing a year of academics, schools are scrambling to stragetize how to get them on track. (Terrel Clark for The Hechinger Report)">
        </a>
        <div class="small">Education Lab</div>
        <div>
          <a href="https://www.seattletimes.com/education-lab/the-science-of-catching-up-in-school/" target="_blank" rel="noreferrer noopener nofollow">
            Catching up in school: Which methods work best for students?
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/education-lab/ventilation-is-key-to-school-safety-during-the-pandemic-how-are-washington-schools-refreshing-classroom-air/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story3.jpg"
          alt="Fred Wilkins, an HVAC technician with Highline Public Schools’ facilities department, replaces a filter to provide cleaner air in a room at Chinook Middle School in SeaTac on April 9. The Centers for Disease Control and Prevention advises that schools ensure that air filtration and ventilation systems are working at max capacity to curb the spread of COVID-19. (Ellen M. Banner / The Seattle Times)"
          >
        </a>
        <div class="small">Education Lab</div>
        <div>
          <a href="https://www.seattletimes.com/education-lab/ventilation-is-key-to-school-safety-during-the-pandemic-how-are-washington-schools-refreshing-classroom-air/" target="_blank" rel="noreferrer noopener nofollow">
            Ventilation is key to school safety during the pandemic. How are Washington schools refreshing classroom air?
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/education-lab/scientists-are-racing-to-unravel-the-pandemics-toll-on-kids-brains/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story4.jpg"
          alt="“We’re going to need to begin grappling with, what do we do [to help them]?” says former UW professor and current Harvard researcher Katie McLaughlin, about young people who have endured the stress and trauma of the pandemic. (Dean Rutz / The Seattle Times)"
          >
        </a>
        <div class="small">Education Lab</div>
        <div>
          <a href="https://www.seattletimes.com/education-lab/scientists-are-racing-to-unravel-the-pandemics-toll-on-kids-brains/" target="_blank" rel="noreferrer noopener nofollow">
            Scientists are racing to unravel the pandemic’s toll on kids’ brains
          </a>
        </div>
      </div>
    </div>

</section>
