<div id="graph1">
  <div class="hed inset">Fewer kids in class</div>
  <div class="chatter noBottom"> The youngest children were most likely to stay out of school, experiencing a kind of "red-shirt year."</div>

  <!-- <div class="directions short">
    Click on a category header to sort
  </div> -->

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="Percent change in attendance by grade level" aria-label="Bar Chart" id="datawrapper-chart-nmK9c" src="https://datawrapper.dwcdn.net/nmK9c/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="541"></iframe>
  </div>


  <hr class="rowRule">


  <div class="hed inset">Enrollment by vulnerable population</div>
  <div class="chatter noBottom">
  Many homeless children never showed up for school in 2020-21.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="Vulnerable populations see drop in enrollment
    " aria-label="Column Chart" id="datawrapper-chart-ZqGAp" src="https://datawrapper.dwcdn.net/ZqGAp/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="403"></iframe>
  </div>


  <hr class="rowRule">

  <div class="hed inset">Enrollment by Educational Service District</div>
  <div class="chatter noBottom">
  Washington is divided geographically into nine educational service districts. The districts in the far west and far east side of the state — including big cities like Seattle, Tacoma, Spokane and Vancouver — saw the biggest enrollment dips.
  </div>

  <div class="full-width">
    <div id="legendCon">
      <div class="decrease">
          <div class="legend">
            <div class="color"></div>
            <div class="number">
              <span class="his_vaxx">more than -6%</span>
            </div>
          </div>


        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">-6 to -4.1%</span>
          </div>
        </div>

        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">-4 to to -2.1%</span>
          </div>
        </div>


        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">-2 to -0.1%</span>
          </div>
        </div>
      </div>

      <div class="increase">
        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">0 to 2%</span>
          </div>
        </div>
      </div>
    </div>


    <div id="map" class="aspect-ratio-outer">
      <div class="aspect-ratio-inner">

        <leaflet-map id="leaflet-map-one" zoom=7>
          <tile-layer layer="cartoPositron"></tile-layer>
        </leaflet-map>

      </div>
    </div>
  </div>


</div>
