<div id="graph5">
  <div class="hed inset">Postsecondary training leads to better, more secure jobs</div>
  <div class="chatter noBottom">People with college degrees earn more money and are more likely to remain employed than those who never earn a degree after high school.</div>

  <!-- <div class="directions short">
    Click on a category header to sort
  </div> -->

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="[ Insert title here ]" aria-label="Split Bars" id="datawrapper-chart-0HQZx" src="https://datawrapper.dwcdn.net/0HQZx/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="285"></iframe>
  </div>


  <hr class="rowRule">


  <div class="hed inset">Unemployment</div>
  <div class="chatter noBottom">
    When unemployment numbers skyrocketed during the start of the pandemic, people who held a bachelor’s degree or higher were less likely to lose their jobs.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="[ Insert title here ]" aria-label="Interactive line chart" id="datawrapper-chart-aWJfH" src="https://datawrapper.dwcdn.net/aWJfH/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="450"></iframe>
  </div>

</div>
