<div id="graph6">
  <div class="hed inset">Washington applications for college financial aid are lowest in five years</div>
  <div class="chatter noBottom">Students still have months to complete financial aid forms, but as of May 2021, completed forms had declined from past years.</div>

  <!-- <div class="directions short">
    Click on a category header to sort
  </div> -->

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="Washington applications for college financial aid are lowest in five years (Copy)" aria-label="Column Chart" id="datawrapper-chart-tRN0m" src="https://datawrapper.dwcdn.net/tRN0m/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
  </div>


  <hr class="rowRule">


  <div class="hed inset">Washington English learners and special education students lag behind peers in completing federal financial aid forms</div>
  <div class="chatter noBottom">
  In the 2019-20 school year, migrant students and those who are unhoused or from low-income homes also lagged behind the state's average.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="Washington English learners and special education students lag behind peers in completing federal financial aid forms (Copy)" aria-label="Bar Chart" id="datawrapper-chart-MF8fc" src="https://datawrapper.dwcdn.net/MF8fc/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="214"></iframe>
  </div>

  <hr class="rowRule">

  <div class="hed inset">In 2019-20, Black and Asian students exceeded Washington's average financial aid completion rate</div>
  <div class="chatter noBottom">
  Washington officials are now collecting demographic data on students who complete financial aid forms. Last school year, American Indian/Alaskan Native students lagged behind their peers.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="In 2019-20, Black and Asian students exceeded Washington's average financial aid completion rate (Copy)" aria-label="Bar Chart" id="datawrapper-chart-UgNuG" src="https://datawrapper.dwcdn.net/UgNuG/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="230"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
    </script>
  </div>

</div>
