<div id="graph1">
  <div class="hed inset">Fewer kids in class</div>
  <div class="chatter noBottom">Between 2019-20 and 2020-21, the number of kids enrolled in Washington public schools dropped by 4%. The youngest children were most likely to stay out of school, experiencing a kind of "redshirt year."</div>

  <!-- <div class="directions short">
    Click on a category header to sort
  </div> -->

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="Percent change in attendance by grade level" aria-label="Bar Chart" id="datawrapper-chart-nmK9c" src="https://datawrapper.dwcdn.net/nmK9c/6/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="479"></iframe>

  </div>


  <hr class="rowRule">


  <div class="hed inset">Enrollment by vulnerable population</div>
  <div class="chatter noBottom">
  At a time when homelessness was growing, the number of homeless children enrolled in school shrank statewide.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="Vulnerable populations see drop in enrollment
    " aria-label="Column Chart" id="datawrapper-chart-ZqGAp" src="https://datawrapper.dwcdn.net/ZqGAp/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="403"></iframe>
  </div>


  <hr class="rowRule">

  <div class="hed inset">Enrollment by educational service district</div>
  <div class="chatter noBottom">
  Washington is divided geographically into nine educational service districts. The districts in the far west and far east sides of the state &#x2014; including big cities like Seattle, Tacoma, Spokane and Vancouver &#x2014; saw the biggest enrollment dips.
  </div>

  <div class="full-width">
    <div id="legendCon">
      <div class="decrease">
          <div class="legend">
            <div class="color"></div>
            <div class="number">
              <span class="his_vaxx">less than -6%</span>
            </div>
          </div>


        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">-6 to -4.1%</span>
          </div>
        </div>

        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">-4 to to -2.1%</span>
          </div>
        </div>


        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">-2 to -0.1%</span>
          </div>
        </div>
      </div>

      <div class="increase">
        <div class="legend">
          <div class="color"></div>
          <div class="number">
            <span class="his_vaxx">0 to 2%</span>
          </div>
        </div>
      </div>
    </div>


    <div id="map" class="aspect-ratio-outer">
      <div class="aspect-ratio-inner">

        <leaflet-map id="leaflet-map-one" zoom=7>
          <tile-layer layer="cartoPositron"></tile-layer>
        </leaflet-map>

      </div>
    </div>
  </div>


</div>
