<div id="graph3">
  <div class="hed inset">Percent change in enrollment in Alternative Learning Experience programs, by grade</div>
  <div class="chatter noBottom">Enrollment in Alternative Learning Experience programs, such as online schools, jumped significantly in grades K-4 from the 2019-20 to the 2020-21 school year. ALE programs were particularly popular among families with younger children. Overall, enrollment was about 35% higher in January 2021 than it was in January 2020.</div>

  <!-- <div class="directions short">
    Click on a category header to sort
  </div> -->

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="Percent change in enrollment in Alternative Learning Experience programs, by grade (Copy)" aria-label="Column Chart" id="datawrapper-chart-WYALQ" src="https://datawrapper.dwcdn.net/WYALQ/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="300"></iframe>
  </div>


  <hr class="rowRule">


  <div class="hed inset">School districts with biggest increase in headcount in alternative learning programs</div>
  <div class="chatter noBottom">
  All five districts with the greatest increase in headcount during the pandemic contract with for-profit online education providers, as noted in parentheses.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="School districts with biggest increase in headcount in alternative learning programs (Copy)" aria-label="Grouped Bars" id="datawrapper-chart-QLd43" src="https://datawrapper.dwcdn.net/QLd43/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="489"></iframe>
  </div>


  <hr class="rowRule">


  <div class="hed">The 5 districts with the most online learners</div>
  <div class="chatter noBottom">
  This chart shows the districts with the most students enrolled in Alternative Learning Experience programs in the 2019-20 and 2020-21 school years. In Omak, enrollment nearly doubled. Enrollment through four other school districts showed more modest growth. At least three out of the five districts contract with for-profit online education companies, as noted in the parentheses.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="The 5 districts with the most online learners (Copy)" aria-label="Grouped Bars" id="datawrapper-chart-m6O4M" src="https://datawrapper.dwcdn.net/m6O4M/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="419"></iframe>
  </div>

</div>
