<div id="graph2">
  <!-- <div class="hed">Statewide enrollment in Community Colleges</div>
  <div class="chatter noBottom">chatter</div> -->

  <!-- <div class="directions short">
    Click on a category header to sort
  </div> -->

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="[ Insert title here ]" aria-label="Interactive line chart" id="datawrapper-chart-FcUDD" src="https://datawrapper.dwcdn.net/FcUDD/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
  </div>


  <hr class="rowRule">


  <div class="hed inset">Seattle area colleges</div>
  <div class="chatter noBottom">
    Here’s how much enrollment dropped at the 12 community and technical colleges in greater Seattle.
  </div>

  <div class="full-width">
    <div class="spinner"><i class="fas fa-spinner"></i></div>
    <iframe title="[ Insert title here ]" aria-label="Grouped Bars" id="datawrapper-chart-YlzfM" src="https://datawrapper.dwcdn.net/YlzfM/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="1042"></iframe>
  </div>

</div>
